:root {
	--white: #fffdfa;
	--black: #000000;
	--pale-cerulean: #8db6d4;
	--prussian-blue: #05344d;
	--firebrick: #c02121;
	--cinnabar: #eb4833;
	--amazon: #2a794e;
	--ocean-green: #67cb94;
	--citrine: #e2d515;
	--canary: #ffe149;
	--celtic-blue: #0d68d1;
	--capri: #3ebbf1;
	--dark-turquoise: #00d0dd;
	--tuscan-red: #814b59;
	--china-rose: #ac5d86;
	--cool-grey: #8990aa;
	--gainsboro: #dcdcdc;
	--black-coffe: #352d28;
	--light-gray: #d0c8c8;
}
